{{#partial "content"}}
{{#if username}}
<h1>Welcome {{username}}!</h1>
<p>View <a href="/ideas">All Course Ideas</a></p>
{{else}}
    <h1>Welcome Students!</h1>

    <form action="/sign-in" method="post">
        <label>
            <input type="text" placeholder="What's your username" name="username">
        </label>
        <button>Sign In</button>
    </form>
{{/if}}
{{/partial}}
{{> base.hbs}}